[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
ipython = "*"

[packages]
jupyter-tensorboard = "*"
opencv-python = "==3.2.0.6"
jupyter = "*"
matplotlib = "*"
pandas = "*"
torch = "*"
torchvision = "*"
numpy = "*"
pillow = "*"
scipy = "*"
tqdm = "*"
gpumon = {git = "https://github.com/msalvaris/gpu_monitor.git"}

[requires]
python_version = "3.6"
